<!-- your html code here -->
<div class="container my-5">
    <h2 class="text-left">Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aspernatur maxime delectus provident et. Est
        expedita suscipit exercitationem totam, recusandae veniam aliquid provident at ipsa, rem non nulla explicabo
        tenetur molestiae sapiente minus, esse quibusdam dolor? Temporibus enim aliquam animi.</p>

    <div class="card w-50 align-items-center">
        <div class="card-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Your E-Mail</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label mb-3">Your message</label>
                <textarea class="form-control mb-3" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
                <button type="submit" class="btn btn-primary mb-3 align-item-end">Submit</button>
              </div>

        </div>
    </div>
</div>