<!-- your html code here -->
<div class="container my-5">
    <h2 class="text-left">Portfolio</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore aspernatur maxime delectus provident et. Est expedita suscipit exercitationem totam, recusandae veniam aliquid provident at ipsa, rem non nulla explicabo tenetur molestiae sapiente minus, esse quibusdam dolor? Temporibus enim aliquam animi.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="./assets/img/big-project-image.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
</div>